body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: url(../images/bg-desktop.svg) no-repeat;
  background-size: cover;
  background-color: var(--bgc-violet);
  min-height: 100vh;
}

.container-principal {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 2rem;
}

.cabecalho .logo {
  width: 170px;
  padding-bottom: 20px;
}

.secao-principal {
  display: flex;
  align-items: center;
  gap: 40px;
}

.informacoes .titulo {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 20px;
}

.informacoes .descricao {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.informacoes .btn-cadastro {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  color: var(--bgc-violet);
  width: 200px;
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 17px -8px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.informacoes .btn-cadastro:hover {
  background-color: var(--hover-soft-magenta);
  color: #fff;
}

.footer .redes-sociais ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 15px;
}

.redes-sociais a i {
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  transition: 0.3s;
}

.footer .redes-sociais a i:hover {
  color: var(--hover-soft-magenta);
  border: 1px solid var(--hover-soft-magenta);
}
