@media (max-width: 1024px) {
  .container-ilustracao .imagem-conceito {
    width: 100%;
  }
}

@media (max-width: 768px) {
  body {
    background: url(../images/bg-mobile.svg) no-repeat top;
    background-color: var(--bgc-violet);
    background-size: contain;
  }

  .secao-principal {
    flex-direction: column;
    text-align: center;
  }

  .redes-sociais {
    text-align: center;
    margin-top: 50px;
  }

  .informacoes .titulo {
    line-height: 1.5;
    font-size: 26px;
  }

  .informacoes .btn-cadastro {
    padding: 10px 70px;
  }

  .footer .redes-sociais ul {
    justify-content: center;
  }
}
