@media (max-width: 768px) {
  main .container-principal {
    flex-direction: column;
  }

  main .container-principal {
    gap: 40px;
  }

  main .container-principal .container-ilustracao .imagem-conteito {
    max-width: 90%;
  }

  main .container-principal .informacoes {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .container-principal .informacoes .titulo {
    margin-top: 20px;
  }

  .footer {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  body {
    background: url(../images/bg-mobile.svg) no-repeat top;
    background-color: var(--bgc-violet);
    background-size: 90vh;
  }

  main {
    margin-top: 0 auto;
    padding-top: 0;
  }

  main .container-principal {
    gap: 30px;
  }

  main .container-principal .informacoes .titulo {
    margin-top: 0;
  }

  main .container-principal .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  main .container-principal .informacoes .descricao {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  body {
    background-size: 80vh;
  }

  .cabecalho {
    padding: 20px 15px 20px 15px;
  }

  .cabecalho .logo {
    max-width: 210px;
  }

  main {
    padding: 20px 35px;
  }

  main .container-principal .informacoes .titulo {
    font-size: 27px;
  }

  main .container-principal .informacoes .descricao {
    font-size: 16px;
  }

  .container-principal .informacoes .btn-cadastro {
    padding: 10px;
    font-size: 14px;
    margin-top: 4px;
  }
}
